# Chap6-1 DataFrame Ioc,iIoc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為2維資料
### 橫的為列(索引index),直的為欄(columns)

In [26]:
# 隨機產生DataFramey 資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4), index=list('abcd'), 
                     columns=list('ABCD'))
frame

          A         B         C         D
a  0.485598  0.227536  0.732793  0.012284
b  0.678457  0.850205  0.308033  0.740445
c  0.677293  0.085320  0.049020  0.782053
d  0.760075  0.523649  0.894539  0.097643

In [29]:
frame.describe()   #dexcribe的描述

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.650356  0.421677  0.496096  0.408106
std    0.116474  0.339048  0.387310  0.409613
min    0.485598  0.085320  0.049020  0.012284
25%    0.629370  0.191982  0.243280  0.076303
50%    0.677875  0.375593  0.520413  0.419044
75%    0.698862  0.605288  0.773230  0.750847
max    0.760075  0.850205  0.894539  0.782053

# loc用欄位來定位DataFrame的資料
# iloc用索引來定位DataFrame的資料
# .loc用[列,欄]來定位資料，中間用，分隔

In [30]:
frame.loc['a','A']

0.48559809080905514

In [35]:
#取前2列對應的資料
frame.loc['a':'b',:]
#;取?邊到?邊
#frame就等於frame.loc[:,:]

          A         B         C         D
a  0.485598  0.227536  0.732793  0.012284
b  0.678457  0.850205  0.308033  0.740445

In [37]:
#取前兩欄對應的資料
frame.loc[:,'A':'B']

          A         B
a  0.485598  0.227536
b  0.678457  0.850205
c  0.677293  0.085320
d  0.760075  0.523649

In [38]:
#取得特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','b'],['A','D']])

          A         B         C         D
a  0.485598  0.227536  0.732793  0.012284
c  0.677293  0.085320  0.049020  0.782053
          A         C
a  0.485598  0.732793
b  0.678457  0.308033
c  0.677293  0.049020
d  0.760075  0.894539
          A         D
a  0.485598  0.012284
b  0.678457  0.740445

# iloc是利用索引與欄索引進行資料定位,都是從0開始

In [44]:
frame.iloc[0,0]

0.48559809080905514

In [45]:
#取前兩列的資料
frame.iloc[0:2,:] #0:2 前面包含(0) 後面不包含(2)

          A         B         C         D
a  0.485598  0.227536  0.732793  0.012284
b  0.678457  0.850205  0.308033  0.740445

In [47]:
#取得特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.485598  0.227536  0.732793  0.012284
c  0.677293  0.085320  0.049020  0.782053
          A         C
a  0.485598  0.732793
b  0.678457  0.308033
c  0.677293  0.049020
d  0.760075  0.894539
          A         D
a  0.485598  0.012284
d  0.760075  0.097643